* {
  font-family: Tahoma, sans-serif;
  color: #fafafa;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #202027;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #18181F;
  width: 100%;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #202027;
  flex-grow: 1;
  width: 100%;
}
main .main {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  row-gap: 15px;
  column-gap: 10px;
  background-color: #29292F;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
}
main .main .day {
  background-color: #18181F;
  border: 3px solid #fafafa;
  height: fit-content;
  width: 350px;
  border-radius: 15px;
  padding-bottom: 10px;
}
main .main .day .header {
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
main .main .day .header .date {
  margin: 0 8px;
  font-size: 36px;
}
main .main .day .header .title {
  flex-grow: 1;
  font-size: 20px;
  text-align: center;
}
main .main .day .header .icon {
  margin: 0 8px;
  border-radius: 5px;
  transition: 0.5s;
}
main .main .day .header .icon:hover {
  transform: scale(115%);
  transition: 0.5s;
}
main .main .day .header .icon-show-more {
  background-color: #D9D9D9;
}
main .main .day .header .icon-edit {
  background-color: #0096FF;
}
main .main .day .records {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
main .main .day .records .record:nth-child(2n+0) {
  background-color: #1E1E25;
}
main .main .day .records .record:nth-child(2n+1) {
  background-color: #29292F;
}
main .main .day .records .record {
  height: 70px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
main .main .day .records .record .time {
  margin: 0 8px;
  font-size: 24px;
}
main .main .day .records .record .name {
  font-size: 18px;
  flex-grow: 1;
}

footer {
  background-color: #29292F;
  width: 100%;
}

.log-reg-panel {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #29292F;
  margin: 15px;
  padding: 5px;
  border-radius: 10px;
}
.log-reg-panel .choice {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 1000px;
}
.log-reg-panel .choice .not-choosen:hover ~ .not-choosen, .log-reg-panel .choice .not-choosen:hover {
  cursor: pointer;
  background-color: #0096FF;
}
.log-reg-panel .choice .choosen {
  background-color: #1E1E25;
}
.log-reg-panel .choice #login, .log-reg-panel .choice #register {
  max-width: 400px;
  flex-grow: 1;
}
.log-reg-panel .choice #login h3, .log-reg-panel .choice #register h3 {
  text-align: center;
}
.log-reg-panel .choice .triangle div {
  border-top: solid 0px transparent;
  border-left: solid 0px transparent;
  border-right: solid 200px transparent;
  border-bottom: 100px solid #1E1E25;
}
.log-reg-panel .log, .log-reg-panel .reg {
  width: 1000px;
  background-color: #1E1E25;
}
.log-reg-panel .log input[type=text], .log-reg-panel .reg input[type=text] {
  color: #000;
  border: 0 solid #fff;
}
.log-reg-panel .log input[type=text]:focus-visible, .log-reg-panel .reg input[type=text]:focus-visible {
  outline: 3px solid #D9D9D9;
}

@keyframes on-register-traingle-flip {
  100% {
    transform: scaleX(-1);
  }
}
.on-register-traingle-flip {
  animation-name: on-register-traingle-flip;
  animation-fill-mode: forwards;
}

@keyframes on-login-traingle-flip {
  100% {
    transform: scaleX(1);
  }
}
.on-login-traingle-flip {
  animation-name: on-login-traingle-flip;
  animation-fill-mode: forwards;
}