$background : #202027;
$header : #18181F;
$second-color : #29292F;
$third-color : #1E1E25;
$info-color : #0096FF;
$show-more-color : #D9D9D9;

$font-main-color : #fafafa;

*{
    font-family: Tahoma, sans-serif;
    color: $font-main-color;
}
body{
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $background;
}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: $header;
    width: 100%;
}
main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: $background;
    flex-grow: 1;
    width: 100%;
    .main{
        
        flex-grow: 1;
        align-self: stretch;

        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
        row-gap: 15px;
        column-gap: 10px;

        background-color: $second-color;
        margin: 15px;
        border-radius: 10px;
        padding: 10px;
        .day{
            background-color: $header;
            border: 3px solid $font-main-color;
            height: fit-content;
            width: 350px;
            border-radius: 15px;
            padding-bottom: 10px;
            .header{
                height: 70px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;

                .date{
                    margin: 0 8px;
                    font-size: 36px;
                }
                .title{
                    flex-grow: 1;
                    font-size: 20px;
                    text-align: center;
                    
                }
                .icon{
                    margin: 0 8px;
                    border-radius: 5px;
                    transition: 0.5s;
                }
                .icon:hover{
                    transform: scale(115%);
                    transition: 0.5s;
                }
                .icon-show-more{
                    background-color: $show-more-color;
                }
                .icon-edit{
                    background-color: $info-color;
                }
            }
            .records{
                width: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: center;
                .record:nth-child(2n+0){
                    background-color: $third-color;
                }
                .record:nth-child(2n+1){
                    background-color: $second-color;
                }
                .record{
                    height: 70px;
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    .time{
                        margin: 0 8px;
                        font-size: 24px;
                    }
                    .name{
                        font-size: 18px;
                        flex-grow: 1;
                        // text-align: center;
                    }
                }
            }
            
            
        }
    }
}

footer{
    background-color: $second-color;
    width: 100%;
}
