$background : #202027;
$header : #18181F;
$second-color : #29292F;
$third-color : #1E1E25;
$info-color : #0096FF;
$show-more-color : #D9D9D9;

$font-main-color : #fafafa;

*{
    font-family: Tahoma, sans-serif;
    color: $font-main-color;
}
body{
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $background;
}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: $header;
    width: 100%;
}
main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: $background;
    flex-grow: 1;
    width: 100%;
    .main{
        
        flex-grow: 1;
        align-self: stretch;

        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
        row-gap: 15px;
        column-gap: 10px;

        background-color: $second-color;
        margin: 15px;
        border-radius: 10px;
        padding: 10px;
        .day{
            background-color: $header;
            border: 3px solid $font-main-color;
            height: fit-content;
            width: 350px;
            border-radius: 15px;
            padding-bottom: 10px;
            .header{
                height: 70px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;

                .date{
                    margin: 0 8px;
                    font-size: 36px;
                }
                .title{
                    flex-grow: 1;
                    font-size: 20px;
                    text-align: center;
                    
                }
                .icon{
                    margin: 0 8px;
                    border-radius: 5px;
                    transition: 0.5s;
                }
                .icon:hover{
                    transform: scale(115%);
                    transition: 0.5s;
                }
                .icon-show-more{
                    background-color: $show-more-color;
                }
                .icon-edit{
                    background-color: $info-color;
                }
            }
            .records{
                width: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: center;
                .record:nth-child(2n+0){
                    background-color: $third-color;
                }
                .record:nth-child(2n+1){
                    background-color: $second-color;
                }
                .record{
                    height: 70px;
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    .time{
                        margin: 0 8px;
                        font-size: 24px;
                    }
                    .name{
                        font-size: 18px;
                        flex-grow: 1;
                    }
                }
            }
            
            
        }
    }
}

footer{
    background-color: $second-color;
    width: 100%;
}

.log-reg-panel{
    flex-grow: 1;
    align-self: stretch;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;

    background-color: $second-color;
    margin: 15px;
    padding: 5px;
    border-radius: 10px;

    .choice{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        width: 1000px;
        .not-choosen:hover ~ .not-choosen, .not-choosen:hover, .not-choosen:has(~ .not-choosen:hover){
            cursor: pointer;
            background-color: $info-color;
        }
        .choosen{
            background-color: $third-color;
            
        }
        
        
        #login, #register{
            display: flex;
            justify-content: center;
            align-items: center;

            max-width: 400px;
            flex-grow: 1;

            h3{
                text-align: center;
                font-size: x-large;
            }
        }
        .triangle{
            div{
                border-top: solid 0px transparent;
                border-left: solid 0px transparent;
                border-right: solid 200px transparent;
                border-bottom: 100px solid $third-color;
            }
            
        }
    }
    .log, .reg{
        display: none;
        width: 1000px;
        background-color: $third-color;

        padding-top: 50px;
        padding-bottom: 100px;
        label{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            margin: 10px;
            h4{
                font-size: 1.4em;
            }
        }

        input[type="text"], input[type="password"]{
            font-size: larger;
            color: #000;
            border: 0 solid #fff;
            padding: 6px;
        }
        input[type="text"]:focus-visible, input[type="password"]:focus-visible{
            outline: 3px solid $show-more-color;
        }
        input[type="button"]{
            font-size: large;
            font-weight: bold;
            color: $font-main-color;
            background-color: $info-color;
            border: 0 solid $info-color;
            padding: 5px 15px;
            margin-top: 10px;
        }
        input[type="button"]:hover{
            cursor: pointer;
            outline: 3px solid $show-more-color;
        }
        
    }
}

@keyframes on-register-traingle-flip{
    0%{

    }
    100%{
        transform: scaleX(-1);
    }
}
.on-register-traingle-flip{
    animation-name: on-register-traingle-flip;
    animation-fill-mode: forwards;
}
@keyframes on-login-traingle-flip{
    0%{

    }
    100%{
        transform: scaleX(1);
    }
}
.on-login-traingle-flip{
    animation-name: on-login-traingle-flip;
    animation-fill-mode: forwards;
}
