*{
    font-family: Tahoma, sans-serif;
}
body{
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #f0f;
    width: 100%;
}
main{
    background-color: #f00;
    flex-grow: 1;
    width: 100%;
}
